certifi==2018.11.29
chardet==3.0.4
Click==7.0
Flask==1.0.2
Flask-Cors==3.0.7
geographiclib==1.49
geopy==1.18.1
gunicorn==19.9.0
idna==2.7
itsdangerous==1.1.0
Jinja2==2.11.3
jsonschema==2.6.0
MarkupSafe==1.1.0
python-dateutil==2.7.5
requests==2.20.1
six==1.12.0
smartcar==1.0.12
urllib3==1.24.1
Werkzeug==0.14.1
wincertstore==0.2
